@mixin inputs-style {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  border: 1px solid transparent;
  font-size: 20px;
  background-color: #dde2ef57;
  border-radius: 5px;
  padding-left: 3px;
  box-shadow: 0 3px 3px #4549473b;
  transition: border 0.5s;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.39);
  width: 100vw;
  height: 100%;
  z-index: 5;

  form {
    position: relative;
    top: 20vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.959);
    padding: 25px;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 -25px 0 #D8EBE1;

    label {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      input, select, textarea, button {
        max-width: 70%;
        min-width: 70%;
      }

      input, select, textarea, button {
        @include inputs-style;

        &:hover, &:focus {
          border: 1px solid #5a9476;
          transition: border 0.5s;
        }
      }
    }

    input, select, textarea, button {
      max-width: 70%;
      min-width: 70%;

      &:hover, &:focus {
        border: 1px solid #5a9476;
        transition: border 0.5s;
      }
    }

    input, select, textarea, button {
      @include inputs-style;
    }

    input[type="submit"] {
      background-color: #71cc9d9a;
      color: white;
    }

    button {
      background-color:#F3E4EE;
      color: rgb(100, 97, 97);
    }
  }
}