$header-heigt: 6vw;
$filter-form-container-height: 3vw;
$visits-table-height: calc(100vh - #{$header-heigt} - #{$filter-form-container-height} - 20px);

.header-container {
  height: $header-heigt;
  width: 100%;
  display: flex;
  background-color:white;
  justify-content: space-around;

  .nav-container {
    display: flex;
    width: 100%;
    height: 90%;
    max-width: 1240px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;

    a {
      height: 90%;
      text-decoration: none;
      display: flex;
      align-items: center;
    
      img {
        height: 100%;
        text-align: center;
      }

      p {
        font-size: 4vw;
        font-weight: 700;
        color:#54944E;
      }
    }

    .buttons-container {
      width: 35%;

      .button {
        width: 40%;
        outline: none;
        padding: 12px;
        border: 1px solid rgb(151, 195, 60);
        background-color: transparent;
        font-size: 1.2vw;
        border-radius: 45px;
        transition: background-color 0.5s;
        justify-self: flex-end;

        &:hover {
          background-color: rgba(168, 245, 14, 0.116);
          transition: background-color 0.5s;
        }
      }
    }  
  }
}

.filter-form-container {
  background-color: #bedecd9a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $filter-form-container-height;
  box-shadow: 0 2px 5px rgba(128, 128, 128, 0.507);

  #visits-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    height: 100%;

    label {
      border: none;
      margin-right: 10px;

      input, select {
        color: black;
        outline: none;
        border: none;
        border-radius: 5px;
        border: 1px solid #5a947600;
        transition: border 0.3s;
        
        &:hover, &:focus {
          border: 1px solid #5a9476;
          transition: border 0.3s;
        }
      }
    }

    input[type="submit"] {
      color: black;
      outline: none;
      border: none;
      border-radius: 5px;
      background-color: #6E917F;
      transition: background-color 0.5s;
      color: white;

      &:hover {
        background-color: #71cc9d;
        transition: background-color 0.5s;
      }
    }
  }
}