.visits-list-container {
  height: $visits-table-height;
  width: 100%;

  .visits-table {
    height: 100%;
    position: relative;
    padding: 10px 4%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .load-status {
      color: rgba(0, 0, 0, 0.37);
      font-size: 80px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      text-align: center;
      width: 100%;
      text-shadow: 1px 2px rgba(0, 0, 0, 0.13);
      z-index: 0;
    }

    .visits-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #9fddf342;
      width: 20vw;
      height: fit-content;
      margin: 10px;
      border-radius: 15px;
      z-index: 3;
      box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.507);

      .drag-element {
        width: 100%;
        height: 50px;
        background-color: #D8EBE1;
        border-radius: 15px 15px 0 0;

        &:hover {
          cursor: pointer;
        }
      }

      &__dlt-btn {
        padding: 3px 7px;
        margin: -35px 0 30px 83%;
        background-color: white;
      }
    
      &__info-btn {
        margin: 10px;
        width: 130px;

        &.btn {
          padding: 3px 7px;
        }
      }
    
      &__edit-btn {
        width: 70px;
        margin: 10px;

        &.btn {
          padding: 3px 7px;
        }
      }
    
      &__dlt-form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
      }

      .invisible {
        display: none;
      }
    
      &__dlt-form-text {
        margin-right: 10px;
        width: 40%;
        text-align: right;
      }
    
      &__dlt-pass {
        width: 40%;
      }
    
      &__dlt-conf-btn {
        margin-right: 20px;
        margin-top: 10px;
      }
    
      &__dlt-cancel-btn {
        margin-top: 10px;
      }
    
      p {
        padding: 5px;
        margin-top: 5px;
        background-color: #f8f4f5;
        width: 87%;
        border-radius: 5px;
      }

      button {
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid transparent;
        outline: 0;
        transition: border 0.3s;

        &:hover {
          border: 1px solid #689E7B;
          transition: border 0.3s;
        }
      }
    }
  }
}